## Preprocessing

In [23]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [30]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
df = pd.DataFrame

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
df = pd.read_csv('/usr/charity_data.csv')
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [31]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

df.drop(columns=['EIN','NAME'], inplace=True)

print(df)

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 10 columns]

In [32]:
# Determine the number of unique values in each column.
unique_values = df.nunique()

print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [36]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = df['APPLICATION_TYPE'].value_counts()

print("Application Type Value Counts:")
print(application_type_counts)

threshold = 10

low_freq_values = application_type_counts[application_type_counts < threshold].index

df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(low_freq_values, 'Other')

updated_application_type_counts = df['APPLICATION_TYPE'].value_counts()
print("\nUpdated Application Type Value Counts:")
print(updated_application_type_counts)

Application Type Value Counts:
APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

Updated Application Type Value Counts:
APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [37]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
threshold = 10
application_types_to_replace = application_type_counts[application_type_counts < threshold].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [41]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = df['CLASSIFICATION'].value_counts()

print("Classification Value Counts")
print(classification_counts)

threshold = 15

low_freq_values = classification_counts[classification_counts < threshold].index

df['CLAASIFICATION'] = df['CLASSIFICATION'].replace(low_freq_values, 'Other')

updated_claasification_counts = df['CLASSIFICATION'].value_counts()
print("\nupdated Classification Value Counts:")
print(updated_claasification_counts)

Classification Value Counts
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

updated Classification Value Counts:
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [42]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = df['CLASSIFICATION'].value_counts()

classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

print("Classification Value Counts > 1:")
print(classification_counts_greater_than_1)

Classification Value Counts > 1:
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [43]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = df['CLASSIFICATION'].value_counts()

cutoff = 3

classifications_to_replace =  classification_counts[classification_counts <= cutoff].index.tolist()

print(f"Classifications to be replaced (count <= {cutoff}):")
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

Classifications to be replaced (count <= 3):
['C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Other       45
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
Name: count, dtype: int64

In [44]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(df, drop_first=False)

print(df_encoded)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                   False
1           1    108590              1                   False
2           1      5000              0                   False
3           1      6692              1                   False
4           1    142590              1                   False
...       ...       ...            ...                     ...
34294       1      5000              0                   False
34295       1      5000              0                   False
34296       1      5000              0                   False
34297       1      5000              1                   False
34298       1  36500179              0                   False

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  \
0                      True                 False                 False
1                     False                 False                 False
2                     False                 False                 False
3                     False                 False                 False
4                     False                 False                 False
...                     ...                   ...                   ...
34294                 False                 False                 False
34295                 False                 False                 False
34296                 False                 False                 False
34297                 False                 False                 False
34298                 False                 False                 False

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  APPLICATION_TYPE_T3  ...  \
0                     False                False                False  ...
1                     False                False                 True  ...
2                     False                False                False  ...
3                     False                False                 True  ...
4                     False                False                 True  ...
...                     ...                  ...                  ...  ...
34294                 False                False                False  ...
34295                 False                False                False  ...
34296                 False                False                 True  ...
34297                 False                False                False  ...
34298                 False                False                 True  ...

       CLAASIFICATION_C3000  CLAASIFICATION_C4000  CLAASIFICATION_C5000  \
0                     False                 False                 False
1                     False                 False                 False
2                      True                 False                 False
3                     False                 False                 False
4                     False                 False                 False
...                     ...                   ...                   ...
34294                 False                 False                 False
34295                  True                 False                 False
34296                 False                 False                 False
34297                  True                 False                 False
34298                 False                 False                 False

       CLAASIFICATION_C6000  CLAASIFICATION_C7000  CLAASIFICATION_C7100  \
0                     False                 False                 False
1                     False                 False                 False
2                     False                 False                 False
3                     False                 False                 False
4                     False                 False                 False
...                     ...                   ...                   ...
34294                 False                 False                 False
34295                 False                 False                 False
34296                 False                 False                 False
34297                 False                 False                 False
34298                 False                 False                 False

       CLAASIFICATION_C7120  CLAASIFICATION_C7200  CLAASIFICATION_C8000  \
0                     False                 False                 False
1                     False                 False                 False
2                     False                 False                 False
3                     False                 False                 False
4                     False                 False                 False
...                     ...                   ...                   ...
34294                 False                 False                 False
34295                 False                 False                 False
34296                 False                 False                 False
34297                 False                 False                 False
34298                 False                 False                 False

       CLAASIFICATION_Other
0                     False
1                     False
2                     False
3                     False
4                     False
...                     ...
34294                 False
34295                 False
34296                 False
34297                 False
34298                 False

[34299 rows x 139 columns]

In [59]:
# Split our preprocessed data into our features and target arrays
target_column = 'CLASSIFICATION'

X = df.drop(columns=['CLASSIFICATION'])
y = df['CLASSIFICATION']

print("Features (x):")
print(X.head())

print("\nTarget (y)")
print(y.head())

# Split the preprocessed data into a training and testing dataset
x = df.drop(columns=['CLASSIFICATION'])
Y = df['CLASSIFICATION']

x_train, x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=42)

print(f"Training features (x_train) shape: {x_train.shape}")
print(f"Testing features (x_test) shape: {x_test.shape}")
print(f"Training target (y_train) shape: {y_train.shape}")
print(f"Testing target (y_test) shape: {y_test.shape}")

Features (x):
  APPLICATION_TYPE       AFFILIATION      USE_CASE  ORGANIZATION  STATUS  \
0              T10       Independent    ProductDev   Association       1
1               T3       Independent  Preservation  Co-operative       1
2               T5  CompanySponsored    ProductDev   Association       1
3               T3  CompanySponsored  Preservation         Trust       1
4               T3       Independent     Heathcare         Trust       1

      INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  IS_SUCCESSFUL CLAASIFICATION
0              0                      N     5000              1          C1000
1         1-9999                      N   108590              1          C2000
2              0                      N     5000              0          C3000
3    10000-24999                      N     6692              1          C2000
4  100000-499999                      N   142590              1          C1000

Target (y)
0    C1000
1    C2000
2    C3000
3    C2000
4    C1000
Name: CLASSIFICATION, dtype: object
Training features (x_train) shape: (27439, 10)
Testing features (x_test) shape: (6860, 10)
Training target (y_train) shape: (27439,)
Testing target (y_test) shape: (6860,)

In [68]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

x_train_encoded = pd.get_dummies(x_train, drop_first=True)
x_test_encoded = pd.get_dummies(x_test, drop_first=True)
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_train_scaled= scaler.fit_transform(x_train_encoded)

# Scale the data
X_test_scaled = scaler.fit_transform(x_test_encoded)

print("Scaled Training Features (x_train):")
print(X_train_scaled)

print("nScaled Test Features (x_test):")
print(X_test_scaled)

Scaled Training Features (x_train):
[[ 0.01350021 -0.03115182  0.93796046 ... -0.02896422 -0.02259387
  -0.06515756]
 [ 0.01350021 -0.03115182  0.93796046 ... -0.02896422 -0.02259387
  -0.06515756]
 [ 0.01350021 -0.03115182 -1.06614303 ... -0.02896422 -0.02259387
  -0.06515756]
 ...
 [ 0.01350021 -0.03115182 -1.06614303 ... -0.02896422 -0.02259387
  -0.06515756]
 [ 0.01350021 -0.03115182  0.93796046 ... -0.02896422 -0.02259387
  -0.06515756]
 [ 0.01350021 -0.03115182 -1.06614303 ... -0.02896422 -0.02259387
  -0.06515756]]
nScaled Test Features (x_test):
[[ 0.         -0.04065503  0.93395436 ... -0.03624468 -0.02958718
  -0.06286026]
 [ 0.         -0.04154831  0.93395436 ... -0.03624468 -0.02958718
  -0.06286026]
 [ 0.         -0.04154831 -1.07071613 ... -0.03624468 -0.02958718
  -0.06286026]
 ...
 [ 0.         -0.04154831  0.93395436 ... -0.03624468 -0.02958718
  -0.06286026]
 [ 0.         -0.04154831 -1.07071613 ... -0.03624468 -0.02958718
  -0.06286026]
 [ 0.         -0.04154831  0.93395436 ... -0.03624468 -0.02958718
  -0.06286026]]

## Compile, Train and Evaluate the Model

In [100]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)

X_test_scaled = scaler.transform(X_test)

input_features = X_train_scaled.shape[1]

hidden_layer_1_nodes = 64
hidden_layer_2_nodes = 32

# Define the model
model = Sequential()

# First hidden layer
model.add(Dense(hidden_layer_1_nodes, input_dim=input_features, activation='relu'))

# Second hidden layer
model.add(Dense(hidden_layer_2_nodes, activation='relu'))

# Output layer
model.add(Dense(1, activation='sigmoid'))

# Complie the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=16, validation_data=(X_test_scaled, y_test))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

ValueError: Invalid dtype: object

In [81]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [104]:
# Print
model.summary()

Model: "sequential_20"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_24 (Dense)                     │ (None, 64)                  │           3,968 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_25 (Dense)                     │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_26 (Dense)                     │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 6,081 (23.75 KB)

 Trainable params: 6,081 (23.75 KB)

 Non-trainable params: 0 (0.00 B)

In [113]:
# Evaluate the model using the test data
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)

print(f"Test Loss: {model_loss}")
print(f"Test Accuracy: {model_accuracy}")

ValueError: Invalid dtype: object

In [114]:
# Export our model to HDF5 file
model.save('my_model.h5')

print("Model saved to my_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to my_model.h5